[submodule "src/vim/bundle/easymotion"]
	path = src/vim/bundle/easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "src/vim/bundle/vim-fugitive"]
	path = src/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "src/vim/bundle/vim-snipmate"]
	path = src/vim/bundle/vim-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "src/vim/bundle/tabular"]
	path = src/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "src/vim/bundle/vim-surround"]
	path = src/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "src/vim/bundle/groovy"]
	path = src/vim/bundle/groovy
	url = https://github.com/vim-scripts/groovy.vim.git
[submodule "src/vim/bundle/command-t"]
	path = src/vim/bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
